label {
    font-weight: bold;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 50%;
    margin-bottom: 10px;
}

.tarea {
    width: 50%;
    margin: 10px 0px;
    padding: 0px 10px;
}

#priority {
    margin-bottom: 50px;
}